*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

section{
    background-image: url(/public/img/background-restaurant-modal.jpg);
    height: 100vh;
}
